.advideotask-page {
    background: linear-gradient(180deg, rgb(255, 170, 236.3) 0%, rgb(85, 198.55, 255) 46.49%, rgb(0, 255, 224.4) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.centered-div {
    background-color: #ffc1f1;
    /* Pink background as in cookie_wrapper */
    border-radius: 50px;
    /* Rounded corners like cookie_wrapper */
    display: flex;
    flex-direction: column;
    /* Stellt die Elemente vertikal auf */
    align-items: center;
    /* Zentriert die Elemente horizontal */
    justify-content: center;
    /* Zentriert die Elemente vertikal */
    padding: 20px;
    /* Fügt etwas Abstand hinzu */

}

h1 {
    font-family: 'Pacifico'; /* Verwendung der Pacifico-Schriftart */
    color: #484848; /* Textfarbe auf Weiß setzen */
    font-size: 34px;
}

.centered-div img {
    max-width: 400px;
    /* Maximale Breite des Bildes */
    height: auto;
    /* Höhe automatisch anpassen, um das Seitenverhältnis zu erhalten */
    margin-bottom: 20px;
    /* Abstand zum Button */
}

.modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    /* Reduzieren Sie die Breite nach Bedarf */
    height: 100%;
    /* Reduzieren Sie die Höhe nach Bedarf */
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 20px;
    /* Reduzieren Sie den oberen Abstand, falls erforderlich */
    z-index: 100;
    /* Stellen Sie sicher, dass dieser Wert höher ist als der des "Reward" Systems */
}


.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    position: relative;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    /* Schwarz mit 50% Transparenz */
    border-radius: 10px;
    /* Abgerundete Ecken */
    padding: 5px;
    /* Etwas Abstand um das X */
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.7);
    /* Dunkler und weniger transparent beim Hover */
}