.download-page {
    background: linear-gradient(180deg, rgb(255, 170, 236.3) 0%, rgb(85, 198.55, 255) 46.49%, rgb(0, 255, 224.4) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.centered-div {
    width: 200px;
    /* Adjust as needed */
    height: 200px;
    /* Adjust as needed */
    background-color: #ffc1f1;
    /* Pink background as in cookie_wrapper */
    border-radius: 50px;
    /* Rounded corners like cookie_wrapper */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* Centers the div in the middle of the page */
}

body {
    margin: 0;
    overflow: hidden;
    position: relative;
}

.random-div {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    /* Verhindert das Überlaufen von Inhalten */
}

.random-div img {
    width: 100%;
    /* Bild nimmt die gesamte Breite des divs ein */
    height: auto;
    /* Höhe passt sich automatisch an, um das Seitenverhältnis zu bewahren */
    display: block;
    /* Entfernt zusätzlichen Freiraum unter dem Bild */
    cursor: pointer;
}

.right-download {
    z-index: 1;
}

.download-list {
    position: fixed;
    top: -10px;
    right: 30px;
    width: 300px;
    height: fit-content;
    background-color: rgb(226, 235, 235);
    border-radius: 10px;
    z-index: 0;
    padding: 10px;
    opacity: 0%;
    transition: ease-in-out 500ms;
}
.download-list-shown {
    top: 10px;
    opacity: 100%;
    z-index: 30;
}

.download-list::before {
    content: '';
    position: absolute;
    top: -10px;
    right: 30px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid rgb(233, 233, 233);
}

.all-downloads {
    width: 100%;
    height: fit-content;
    list-style: none;
    padding: 0;
    margin: 0;
}

.all-downloads li {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    position: relative;
    padding: 8px 2px 16px 2px;
    font-family: "Inter-Regular", Helvetica;
    border-radius: 5px;
}
.all-downloads li:hover {
    background-color: rgb(207, 207, 207);
    cursor: pointer;
}

.all-downloads li img {
    width: 14px;
    height: 14px;
}

.all-downloads li::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0px;
    display: block;
    background-color: #2521f7;
    width: 0px;
    height: 4px;
    border-radius: 15px;
    animation: downloading 8000ms linear,
        finishedDownload 100ms linear 8000ms;
    animation-fill-mode: forwards;
    margin: 0 2px 0 2px;
}

@keyframes downloading{
    0%{
      width: calc(0% - 4px);
    }
    50% {
        width: calc(45% - 4px);
    }
    60%{
        width: calc(48% - 4px);
    }
    75%{
        width: calc(76% - 4px);
    }
    83% {
        width: calc(90% - 4px);
    }
    100%{
        width: calc(100% - 4px);
    }
}

@keyframes finishedDownload {
    0% {
        background-color: #2521f7;
    }
    100% {
        background-color: #1abe23;
    }
}